$color-background: #1e1e1e;

//colors:
$darkyellow_color: #FAAE00;
$darkblue_color: #04669A;
$blue_color: #40C1C9;
$yellow_color: #FEDD5A;
$red_color: #E8456B;


//fonts:
$main_font: "Playfair", serif   ;
$text_font: 'Glacial Indifference', sans-serif;
                                                