@import 'core/reset';
@import 'core/variables';

.root {
    font-family: $main_font;
}

.yellow{
    color: $darkyellow_color;
}

.header{
    background: linear-gradient(to  right, $blue_color, $yellow_color);    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        text-decoration: none;
        color: white;
        font-family: $main_font;
        letter-spacing: 3px;
    font-weight: 400;
    font-size: 24px;
    }
    &__menu{
        display: flex;
        gap: 20px;
        text-decoration: none;
        &__item{
            text-decoration: none;
            font-weight: 600;
            font-family: $text_font;
            font-size: 16px;
            letter-spacing: 1px;
        color: white;
        }
    }
}
.hero{
    &__main{
        background-image: url(../images/tititis.png);
    background-size: 100vw;
    background-position: 0% 70%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    &__hotels{
        background-image: url(../images/llaves.JPG);
    background-size: 100vw;
    background-position: 0% 45%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    &__where{
        background-image: url(../images/foto_finca.jpeg);
    background-size: 100vw;
    background-position: 0% 45%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    &__gifts{
        background-image: url(../images/tititis-en-la-obra.JPG);
    background-size: 100vw;
    background-position: 0% 55%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    &__info{
        background-image: url(../images/flowers.png);
    background-size: 100vw;
    background-position: 0% 45%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    &__contact{
        background-image: url(../images/atencionalcliente.png);
    background-size: 100vw;
    background-position: 0% 45%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    
    &__img{
        width: 100%;
        height: 200px;
        overflow: hidden;
} 
&__title{
    color: white;
    font-family: $main_font;
    font-weight: 600;
    text-align: center;
    font-size: 72px;
    text-shadow: rgb(0, 14, 75) 2px 0 10px;
}
&__subtitle{
    color: white;
    font-family: $text_font;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;

    font-size: 36px;
    text-shadow: rgb(0, 14, 75) 0 0 5px;

} }

.main{
    padding: 30px;
    font-family: $main_font;
    text-align: center;
    font-size: 24px;
    color: $darkblue_color;
    padding-bottom: 100px;
    padding-top: 30px;
    &__text{
        padding: 30px 10% 0px 10%;

    }
    &__confirm2{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        padding: 30px 0 30px 0;
        align-items: center;
        border: 3px solid $blue_color ;
        //border-image: linear-gradient(to  right, $blue_color, $yellow_color);
        border-radius: 25px;
        margin-bottom: 30px;
    }
    &__confirm{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        padding: 30px 0 15px 0;
        align-items: center;
        border: 3px solid $blue_color ;
        //border-image: linear-gradient(to  right, $blue_color, $yellow_color);
        border-radius: 25px;
        margin-bottom: 30px;
        &__title{
            text-transform: uppercase;
        }
        &__text{
            display: inline;
            border-radius: 30px;
            text-decoration: none;
            background: linear-gradient(to  right, $blue_color, $yellow_color);
            color: white;
            border: 1px white solid;
            margin: 15px;
            padding: 10px 20px;

        }
    }
    &__btn{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
        text-shadow: rgb(0, 14, 75) 2px 0 10px;
        letter-spacing: 1px;
        padding: 60px 50px;
         &__info {
            border: 3px solid $yellow_color;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
           
            &__1{ background-image: url(../images/llaves.JPG);
            background-size: 100%;
            background-position: 50%;}
            &__2{ background-image: url(../images/foto_finca.jpeg);
                background-size: 200%;
                background-position: 50%;}
            &__3{ background-image: url(../images/tititis-en-la-obra.JPG);
                background-size: 150%;
                background-position: 50%;}
            &__4{ background-image: url(../images/flowers.png);
                background-size: 150%;
                background-position: 50%;}
            &__5{ background-image: url(../images/atencionalcliente.png);
                background-size: 110%;
                background-position: 50% -10%;}
        }
    }
    &__list {
        color: white;
        display: flex ;
        flex-direction: column;
        align-items: center;
        padding: 30px 10%;
       
      
        &__item{
            list-style: none;
            &__link{
                text-decoration: none;
                color: white;                
            }
        }
    }
}

.modal {
    position: fixed;
    z-index: 4;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.8;
    &__cross {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $blue_color;
    }
   
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        z-index: 5;
        background-color: white;
        position: fixed;
        right: 20vw;
        left: 20vw;
        top: 15vw;
        bottom: 15vw;
        opacity: 1;
        border: 3px solid $yellow_color;
        border-radius: 5%;
        &__title {
            padding-top: 30px;
        }
    }
}

.confirm {
    &__item {
        display: block;
        padding: 5px;
        &__input{
        border-radius: 50px;
            border: $blue_color 2px solid;
            padding: 10px 15px 5px 15px;

   
        }
    }
    &__btn{
        font-family: $main_font;
        font-size: 24px;
        margin-top: 30px;
    }
    
}

.link-to{
    text-decoration: none;
    color: $darkblue_color;
    font-weight: 600;
}
.postdata{
    font-size: 16px;
}

.footer {
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    color: $darkyellow_color;
    text-align: center;
    font-size: 12px;
}